.custom-Box {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    min-width: 30px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-font-style: bold;
}

.custom-Background {
    background-size: auto;
    background-repeat: repeat;
}

.custom-ToolbarActiveButton {
    background-image: resource('animationvisibilitytoggleon');
    background-size: auto;
}

.custom-ToolbarInActiveButton {
    background-image: resource('animationvisibilitytoggleoff');
    background-size: auto;
}
