GridBackground {
    --grid-background-color: #282828;
    --line-color: rgba(193,196,192,0.1);
    --thick-line-color: rgba(193,196,192,0.2);
    --spacing: 20
}![Something went wrong]()

/* Edge {
    --layer: 10
} */

#node-border {
	flex-grow: 1
}

#top {
	flex-grow: 1
}